*{
    padding: 0%;
    margin: 0%;
  }
  
  html {
    font-family: 'Damion', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
  }
  
  body {
    font-family: 'Damion', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: rgb(236, 236, 236);
  }
  
  /* Header Section*/
  .header {
      top: 0;
      width: 100%;
      height: 225px;
      margin: auto;
      padding: 0px 0;
      font-size: 14px;
      font-weight: 900;
      background: url(./images-2/destiny2-1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      /*opacity: 0.75;*/
  }

  .header a {
    color:rgb(227, 224, 238)
  }
  
  .header h1 {
    display: flex;
    /*height: 100px;*/
    padding-top: 25px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Roboto', 'Rubic';
    color: rgb(236, 235, 238);
  
  }
  
  .header ul {
    display: flex;
    box-sizing: content-box;
    text-align: center;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    vertical-align: center;
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    height: 150px;
    color: rgb(255, 221, 25);
  }
  
  .header li {
    display: flex;
    box-sizing: content-box;
    text-align: center;
    align-content: space-around;
    flex-direction: row;
    vertical-align: bottom;
    padding-left: auto;
    padding-right: auto;
    margin: 0 auto 0 auto;
    font-size: 2em;
    color:rgb(139, 17, 17)
  }

  .header a:hover {
    color: #ffee00;
  }

.pic {
  height: 250px;
  vertical-align: baseline;
  }

  img {
    width: 150px;
    height: 150px;
    /*padding-bottom: 50px;
    margin-bottom: 50px;*/
    background-color: rgb(44, 166, 247);
    vertical-align: baseline;
    opacity: 1;
    
  }

/*About Section */
  
  .about {
    margin-top: 30;
    padding: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .about p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: justify;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .about h1 {
    font-size: 30px;
    color: rgb(0, 9, 128);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  /*Menu Section*/

  .menu li {
    max-height: 200px;
    display: inline-block;
    align-content: center;
    flex-direction: row;
    align-content: space-between; 
  }
  
  /*Article Section*/

  .article {
    padding: 10px 10px 10px 10px;
    margin: 30px 20px;
  }